language: cpp

jobs:
  include:
    # Main job: g++7 on Ubuntu
    - addons:
        apt:
          packages:
            - g++-7
            - gcc-7
            - libboost-all-dev
            - libgtest-dev
      os: linux
      dist: bionic
      # This is the main job. We need all the tooling
      before_install:
        - sudo pip install cmake
        - sudo wget https://github.com/google/gtest-parallel/archive/3ca6798e2c2a06708888611bc5147bd1266f97a0.zip -O gtest-parallel.zip
        - sudo mkdir gtest-parallel
        - sudo unzip -j -d gtest-parallel gtest-parallel.zip
        - sudo cp gtest-parallel/gtest_parallel.py /usr/bin/gtest_parallel.py
        - cd "${TRAVIS_BUILD_DIR}"
        - pip install --user cpp-coveralls

      # Yes, we override this. This is just here so that the job is appropriately named
      compiler:
        - gcc
        
      install:
        - export CXX="/usr/bin/g++-7" CC="/usr/bin/gcc-7"

      # This is the main job. Build, test, report coverage
      script:
        - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Coverage .. && cd test && make -j
        - travis_wait 30 python /usr/bin/gtest_parallel.py -w 2 --print_test_times ./run_tests 

      after_success:
        - cd CMakeFiles/run_tests.dir && coveralls --exclude /usr --gcov-options '\-lp'

    # Secondary job: clang 7 on Ubuntu
    - addons:
        apt:
          packages:
            - clang-7
            - llvm-7-dev
            - libboost-all-dev
            - libgtest-dev
      os: linux
      dist: bionic
      # Non-testing job. Install only what's needed to build
      before_install:
        - sudo pip install cmake

      # Yes, we override this. This is just here so that the job is appropriately named
      compiler:
        - clang
        
      # Travis ships a broken clang that does not find gold. Use our custom one.
      install:
        - export CXX="/usr/bin/clang++-7" CC="/usr/bin/clang-7"

      # Secondary job. Build only, but build everything
      script:
        - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release .. && make -j

    # Secondary job: clang 7 on Mac OS
    - addons:
        homebrew:
          packages:
            - boost
            - cmake
            
      os: osx
      osx_image: xcode11
      
      # Non-testing job. Install only what's needed to build
      before_install:
        - git clone https://github.com/google/googletest
        - cd googletest
        - echo "set(CMAKE_CXX_STANDARD 11)" > /tmp/patched_cmake
        - cat CMakeLists.txt >> /tmp/patched_cmake
        - cp /tmp/patched_cmake ./CMakeLists.txt
        - mkdir build
        - cd build
        - cmake ..
        - make
        - sudo make install
        # On the osx image, we need to leave the directory again
        - cd .. ; cd ..

      # Yes, we override this. This is just here so that the job is appropriately named
      compiler:
        - clang
        
      # Secondary job. Build only, but build everything
      script:
        - pwd
        - ls -R
        - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release ..
        - ls -R
        - make VERBOSE=1 -j

