addons:
    apt:
        sources:
#            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
        packages:
#            - clang-3.7
            - g++-7
            - gcc-7
            - libboost-all-dev


# before_install:
#     - eval "${MATRIX_EVAL}"

sudo: required
dist: xenial
#group: deprecated-2017Q4

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgtest-dev
  - sudo wget https://github.com/google/googletest/archive/release-1.7.0.tar.gz
  - sudo tar xf release-1.7.0.tar.gz
  - sudo pip install cmake
  - sudo wget https://github.com/google/gtest-parallel/archive/3ca6798e2c2a06708888611bc5147bd1266f97a0.zip -O gtest-parallel.zip
  - sudo mkdir gtest-parallel
  - sudo unzip -j -d gtest-parallel gtest-parallel.zip
  - sudo cp gtest-parallel/gtest_parallel.py /usr/bin/gtest_parallel.py
  - cd googletest-release-1.7.0
  - sudo cmake -DBUILD_SHARED_LIBS=ON .
  - sudo make
  - sudo cp -a include/gtest /usr/include
  - sudo cp -a libgtest_main.so libgtest.so /usr/lib/
  - cd "${TRAVIS_BUILD_DIR}"
  - pip install --user cpp-coveralls

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-7" CC="gcc-7"; fi
    - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.7" CC="clang-3.7"; fi

language: cpp

compiler:
#  - clang
  - gcc

script:
  - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && cd test && make -j2 && python /usr/bin/gtest_parallel.py -w 2 ./run_tests

after_success:
  - ls -R
  - cd CMakeFiles/run_tests.dir && coveralls --exclude /usr --gcov-options '\-lp'
