# matrix:
#   include:
#     # works on Precise and Trusty
#     - os: linux
#       addons:
#         apt:
#           sources:
#             - ubuntu-toolchain-r-test
#           packages:
#             - g++-5
#       env:
#          - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
#     - os: osx
#       osx_image: xcode8
#       env:
#         - MATRIX_EVAL="brew install gcc && CC=gcc-6 && CXX=g++-6"

addons:
    apt:
        sources:
            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
        packages:
            - clang-3.7
            - g++-5
            - gcc-5
            - libboost1.54-all-dev


# before_install:
#     - eval "${MATRIX_EVAL}"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgtest-dev
  - sudo wget https://github.com/google/googletest/archive/release-1.7.0.tar.gz
  - sudo tar xf release-1.7.0.tar.gz
  - cd googletest-release-1.7.0
  - sudo cmake -DBUILD_SHARED_LIBS=ON .
  - sudo make
  - sudo cp -a include/gtest /usr/include
  - sudo cp -a libgtest_main.so libgtest.so /usr/lib/
  - cd "${TRAVIS_BUILD_DIR}"

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
    - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.7" CC="clang-3.7"; fi

language: cpp

compiler:
  - clang
  - gcc

script:
  - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make && make test
